<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{user/index} ~{user/show} ~{book/index} ~{book/show}" >
	<head>
	</head>
	<body>
		<div layout:fragment="form">
		<h2>New book</h2>
			<form method="post" th:action="@{/books/insert}" th:object="${bookForm}">
				<input type="hidden" th:field="*{userId}"/>
				<div class="field">
					<label for="name">Title</label><br>
					<input type="text" th:field="*{title}" th:errorclass="is-invalid"/>
					<div class="invalid-feedback" th:errors="*{title}"/>
				</div>
				<div class="field">
					<label for="name">Opinion</label><br>
					<textarea type="text" th:field="*{body}" th:errorclass="is-invalid"/>
					<div class="invalid-feedback" th:errors="*{body}"/>
				</div>
				<div class="actions">
					<input type="submit" value="Create Book" class="btn btn-success"/>
				</div>
			</form>
		</div>
	</body>
</html>