<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8"></meta>
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
		<!--CSS読込-->
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/login/login.css}">
		<!--JS読込-->
		<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
		<title>Bookers2</title>
	</head>
	<body>
		<header layout:replace="~{layout/header::header}"></header>
		<div class="container">
			<div class="row">
				<div class="col-3">
					<h2>User info</h2>
					<table class="table" th:object="${book.mUser}">
						<tr>
							<th>name</th>
							<td th:text="*{name}"></td>
						</tr>
						<tr>
							<th>introduction</th>
							<td th:text="*{introduction}"></td>
						</tr>
					</table>
					<h2>New book</h2>
					<form method="post" th:action="@{/books/insert}" th:object="${bookForm}">
						<input type="hidden" th:field="*{userId}"/>
						<div class="field">
							<label for="name">Title</label><br>
							<input type="text" th:field="*{title}"/>
						</div>
						<div class="field">
							<label for="name">Opinion</label><br>
							<input type="text" th:field="*{body}"/>
						</div>
						<div class="actions">
							<input type="submit" value="Create Book" class="btn btn-success"/>
						</div>
					</form>
				</div>
				<div class="col-9">
					<h2>Book details</h2>
					<table class="table table-hover table-inverse">
						<thead>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td th:text="${book.title}"></td>
								<td th:text="${book.body}"></td>
								<td>
									<form method="get" th:action="@{'/books/' + ${book.id} + '/edit'}">
										<button class="btn btn-success" type="submit">Edit</button>
									</form>
								</td>
								<td>
									<form method="post" th:action="@{/books/delete}" th:object="${book}">
										<input type="hidden" th:field="*{id}"/>
										<button class="btn btn-danger" type="submit">Destroy</button>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<footer layout:replace="~{layout/footer::footer}"></footer>
	</body>
</html>