<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8"></meta>
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
		<!--CSS読込-->
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/login/login.css}">
		<!--JS読込-->
		<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
		<title>Bookers2</title>
	</head>
	<body>
		<header layout:replace="~{layout/header::header}"></header>
		<div class="container">
			<h2>User info</h2>
			<form method="post" th:action="@{/users/update}" th:object="${editForm}">
				<input type="hidden" th:field="*{id}"/>
				<div class="field">
					<label for="name">Name</label><br>
					<input type="text" th:field="*{name}"/>
				</div>
				<div class="field">
					<label for="password">Introduction</label><br>
					<input type="text" th:field=*{introduction}/>
				</div>
				<div class="actions">
					<input type="submit" value="Update User" class="btn btn-secondary"/>
				</div>
			</form>
		</div>
		<footer layout:replace="~{layout/footer::footer}"></footer>
	</body>
</html>