<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--Mapperとxmlのマッピング-->
<mapper namespace="com.example.repository.UserMapper">
	<resultMap type="com.example.model.MUser" id="user">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="email" property="email"/>
		<result column="password" property="password"/>
		<result column="introduction" property="introduction"/>
		<collection property="bookList" resultMap="book"/>
	</resultMap>
	<resultMap type="com.example.model.Book" id="book">
		<id column="id" property="id"/>
		<id column="user_id" property="userId"/>
		<result column="title" property="title"/>
		<result column="body" property="body"/>
	</resultMap>
	<insert id="signup">
		insert into m_user (name, email, password)
		values (#{name}, #{email}, #{password})
	</insert>
	<select id="index" resultType="MUser">
		select * from m_user
	</select>
	<select id="show" resultMap="user">
		select 
			m_user.id,
			m_user.name,
			m_user.email,
			m_user.password,
			m_user.introduction,
			book.id,
			book.user_id,
			book.title,
			book.body
		 from
		 	m_user join book on m_user.id = book.user_id 
		 where
		 	m_user.id = #{id}
	</select>
	<update id="update">
		update m_user set name = #{name}, introduction = #{introduction} where id = #{id}
	</update>
</mapper>